<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect4</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="game-board"></div>
    <div id="message-container">
        <p id="message"></p>
    </div>
    <div id="button-container"></div>
    
    <script>
        var board = [
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0]
        ];
        var fboard = [
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0],
            [0, 0, 0, 0, 0, 0, 0]
        ];
        var traj_number = 0;
        var traj_size = 0;
        var trajs = [];
        var analist = 1;
        var turns = [0, 0, -1];
        var method = "traj";
       
        var player = 1;

        var cell_class = { 1: 'red', 0: 'white'};
        
        function player_config(new_turns){
            turns = new_turns;
        }
        function analist_config(new_analist){
            analist = new_analist;
        }
        function method_config(new_method){
            method = new_method;
        }
        function setBoardToOnes() {
            // ボードの全ての要素を1に変更
            for (var i = 0; i < board.length; i++) {
                for (var j = 0; j < board[i].length; j++) {
                    board[i][j] = 1;
                }
            }

            // ボードを再描画
            renderBoard(board, cellClass);
        }
        function clearBoard() {
            var gameBoardElement = document.getElementById('game-board');
            while (gameBoardElement.firstChild) {
                gameBoardElement.removeChild(gameBoardElement.firstChild);
            }
        }
        function interpolate_color(value){
            var r1 = 128; var g1 = 0; var b1 = 128;
            var r2 = 255; var g2 = 255; var b2 = 0;
            var r = Math.round(r1 + (r2 - r1) * value);
            var g = Math.round(g1 + (g2 - g1) * value);
            var b = Math.round(b1 + (b2 - b1) * value);
            var backgroundColor = "rgba(" + r + "," + g + "," + b + ", 0.7)";
            
            return backgroundColor

        
        }
        function renderMap(saliency, board, cellClass) {
            clearBoard()
            
            var boardContainer = document.createElement('div');
            boardContainer.className = 'board-container'
            for (var i = 0; i < board[0].length; i++) {
                var row = document.createElement('div');
                row.className = 'row';

                for (var j = 0; j < board.length; j++) {
                    
                    var cell = document.createElement('div');
                    cell.className = 'cell ' + cellClass[board[j][i]];
                    if (board[j][i] == -1){
                        cell.className = 'cell ' + 'yellow';
                    }
                    cell.style.setProperty('--circle-color', interpolate_color(saliency[j][i]));
                    cell.style.setProperty('--layer', 1);
                    //cell.className = 'cell ';
                    row.appendChild(cell);

                    
                }

                boardContainer.appendChild(row);
            }
            var gameBoardElement = document.getElementById('game-board');
            gameBoardElement.appendChild(boardContainer);
            
            
        }
        function renderTraj(board, text, fatal, tail, cellClass){
            clearBoard()
            
            var boardContainer = document.createElement('div');
            boardContainer.className = 'board-container'
            for (var i = 0; i < board[0].length; i++) {
                var row = document.createElement('div');
                row.className = 'row';

                for (var j = 0; j < board.length; j++) {
                    var cell = document.createElement('div');
                    cell.className = 'cell ' + cellClass[board[j][i]];
                    if (board[j][i] == -1){
                        cell.className = 'cell ' + 'yellow';
                    }
                     
                    if (text[j][i] == 0){
                        cell.setAttribute('data-text', "*");
                    }else if(text[j][i] != -1){
                        cell.setAttribute('data-text', text[j][i]);
                    }
                    if (tail>3){
                        if ((text[j][i] > (tail-3))){
                        cell.style.setProperty('--circle-color', "rgba(255, 204, 204, 0.8)");
                        cell.style.setProperty('--layer', 1);
                    }
                    }
                    if (fatal != null){
                        if (fatal.includes(7*j+i)){
                        cell.style.setProperty('--circle-color', "rgba(227, 222, 241, 0.8)");
                        cell.style.setProperty('--layer', 1);
                    }
                    }
                    
                    row.appendChild(cell);
                }

                boardContainer.appendChild(row);
            }
            var gameBoardElement = document.getElementById('game-board');
            gameBoardElement.appendChild(boardContainer);
            

        }
        function renderVec(board, key_c, vector, distance, cellClass) {

            clearBoard()
            var boardContainer = document.createElement('div');
            boardContainer.className = 'board-container'
            for (var i = 0; i < board[0].length; i++) {
                var row = document.createElement('div');
                row.className = 'row';

                for (var j = 0; j < board.length; j++) {
                    var cell = document.createElement('div');
                    cell.className = 'cell ' + cellClass[board[j][i]];
                    if (board[j][i] == -1){
                        cell.className = 'cell ' + 'yellow';
                    }
                    
                    row.appendChild(cell);
                }

                boardContainer.appendChild(row);
            }
            let left = false;
            let right = false;

            const color = "green";
            const alpha = 0.5;

            if (vector < 0) {
                left = true;
            } else {
                right = true;
            }

            if (Math.abs(vector) < 0.5) {
                left = true;
                right = true;
            }
            console.log(key_c, distance)
            if (left) {
                var vector = document.createElement('div');
                vector.className = 'overlay-rectangle';
                position = 300 + 56 * (key_c + 0.5 - distance);
                position = position.toString();
                vector.style.left =  position + 'px'; // 左からの位置（適切な値に置き換えてください）


                if (distance < 2.5) {
                    ;
                    //ctx.fillStyle = 'green';
                    //ctx.fillRect(base - width, 0, base + width, canvas.height);
                } else {
                    ;
                    //ctx.fillStyle = 'green';
                    //ctx.fillRect(0, 0, base + width, canvas.height);
                }
                boardContainer.appendChild(vector);
                
            }

            if (right) {
                
                var vector = document.createElement('div');
                vector.className = 'overlay-rectangle';
                //vector.style.top = '100px'; // 上からの位置（適切な値に置き換えてください）
                position = 300 + 56 * (key_c + 0.5 + distance);
                position = position.toString();
                vector.style.left = position + 'px'; 

                if (distance < 2.5) {
                    ;
                    //ctx.fillStyle = 'green';
                    //ctx.fillRect(base - width, 0, base + width, canvas.height);
                } else {
                    ;
                    //ctx.fillStyle = 'green';
                    //ctx.fillRect(base - width, 0, canvas.width, canvas.height);
                }
                boardContainer.appendChild(vector);
            }
            
            var gameBoardElement = document.getElementById('game-board');
            gameBoardElement.appendChild(boardContainer);
            

        }
        function saliency_map(){
            fetch('/saliency_map', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                saliency = data.saliency; // サーバーからのデータでboard変数を更新
                board = data.board;
                renderMap(saliency, board, cell_class); // ボードを再描画
                
            });

        }
        function fatal_map(){
            fetch('/fatal_map', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fatals = data.fatals; // サーバーからのデータでboard変数を更新
                board = data.board;
                renderMap(fatals, board, cell_class); // ボードを再描画
                
            });

        }


        
        function renderBoard(board, cellClass) {
            clearBoard()
            var boardContainer = document.createElement('div');
            boardContainer.className = 'board-container'
            for (var i = 0; i < board[0].length; i++) {
                var row = document.createElement('div');
                row.className = 'row';

                for (var j = 0; j < board.length; j++) {
                    var cell = document.createElement('div');
                    cell.className = 'cell ' + cellClass[board[j][i]];
                    if (board[j][i] == -1){
                        cell.className = 'cell ' + 'yellow';
                    }

                    row.appendChild(cell);
                }

                boardContainer.appendChild(row);
            }
            var gameBoardElement = document.getElementById('game-board');
            gameBoardElement.appendChild(boardContainer);
            
            
        }
        function getBoardFromServer() {
            fetch('/get_board')
            .then(response => response.json())
            .then(data => {
                // 取得したデータを処理
                board = data.board;
                // ここで board を使用して何か処理を行うことができます
                //console.log(board);
                addClickHandlers();

            });
        }
        function updateBoardOnServer(c) {
            // ボードの状態をサーバーに送信
            fetch('/update_board', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'action': c}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                board = data.updatedBoard; // サーバーからのデータでboard変数を更新
                result = data.gameResult;
                player = data.player
                
                if (result != 0){ 
                    
                    if (result == -1){
                        showMessage("Red Win");
                    }else if(result == 1){
                        showMessage("Yellow Win");
                    }else{
                        showMessage("draw");
                    }

                    document.getElementById("game-board").addEventListener('click', function() {
                        hideMessage();
                    });
                    player = 1;
                    startFeedback()
                }
                renderBoard(board, cell_class); // ボードを再描画
               
                
                addClickHandlers();

            });
        }
        function turnOfAI(){
            fetch('/turn_of_AI', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist': turns[-player+1]}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
               
                board = data.updatedBoard; // サーバーからのデータでboard変数を更新                                                                                                                          
                result = data.gameResult;
                player = data.player
                
                if (result != 0){
                    
                    showMessage("end");
                    document.getElementById("game-board").addEventListener('click', function() {
                        hideMessage();
                    });
                    player = 1;
                    startFeedback()
                }
                renderBoard(board, cell_class); // ボードを再描画
                addClickHandlers();
            });
            
        }

        function addClickHandlers() {
            if (turns[-player+1] != 0){
                turnOfAI()
                return
            }
            renderBoard(board, cell_class)
            console.log("setup")
            var cells = document.querySelectorAll('.cell');
            
            cells.forEach(function(cell, index) {
                cell.addEventListener('click', function() {
                    console.log(index)
                    var row = Math.floor(index / 6);  // 行
                    var col = index % 6;              // 列
                    // クリックされたセルの位置を1に変更
                    var new_index = col * 7 + row;
                    //board[Math.floor(new_index / 7)][new_index % 7] = 1;
                    console.log(new_index % 7);
                    // ボードを再描画
                    //ボードをappに送り返す
                    updateBoardOnServer(new_index % 7);
                    renderBoard(board, cell_class);
                    
                });
            });
            
        }
        function showMessage(message) {
            console.log(showMessage)
            var messageContainer = document.getElementById("message-container");
            var messageElement = document.getElementById("message");
            messageElement.textContent = message;
            messageContainer.style.display = "block";
        }

        function hideMessage() {
            var messageContainer = document.getElementById("message-container");
            messageContainer.style.display = "none";
        }
        function startHotTrajMode(){
            //var buttonContainer = document.getElementById("button-container");
            fetch('/get_valids', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                valids = data.valids; // サーバーからのデータでboard変数を更新
                endTrajs();
                createButton("close traj mode", EndTrajMode)
                console.log("valid");
                var buttonContainer = document.getElementById("button-container");
                for (  var i = 0;  i < valids.length;  i++  ) {
                    console.log(valids[i]);
                    action = valids[i];
                    
                   
                    //console.log("create")
                    var button = document.createElement("button");
                    button.id = String(action);
                    button.innerText = String(action);
                    button.onclick = function(innerText) {
                        return function(event) {
                            endTrajs();
                            event.preventDefault(); // デフォルトのイベントをキャンセル
                            //console.log("button");
                            //console.log(innerText);
                            HotTraj(Number(innerText));
                            //MyHotTraj(Number(innerText));
                            //HotTraj(Number(innerText));
                        };
                    }(button.innerText);
                    buttonContainer.appendChild(button);
                }
                    
                });
            
        }
        function startMyHotTrajMode(){
            //var buttonContainer = document.getElementById("button-container");
            fetch('/get_valids', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                valids = data.valids; // サーバーからのデータでboard変数を更新
                endTrajs();
                createButton("close traj mode", EndTrajMode)
                console.log("valid");
                var buttonContainer = document.getElementById("button-container");
                for (  var i = 0;  i < valids.length;  i++  ) {
                    console.log(valids[i]);
                    action = valids[i];
                    
                   
                    //console.log("create")
                    var button = document.createElement("button");
                    button.id = String(action);
                    button.innerText = String(action);
                    button.onclick = function(innerText) {
                        return function(event) {
                            endTrajs();
                            event.preventDefault(); // デフォルトのイベントをキャンセル
                            //console.log("button");
                            //console.log(innerText);
                            MyHotTraj(Number(innerText));
                            //MyHotTraj(Number(innerText));
                            //HotTraj(Number(innerText));
                        };
                    }(button.innerText);
                    buttonContainer.appendChild(button);
                }
                    
                });
            
        }
        function HotTraj(action){
            fetch('/hot_traj', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'action': action, 'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fboard = data.board; // サーバーからのデータでboard変数を更新
                text = data.text;
                fatal = data.fatal;
                tail = data.tail;
                curPlayer = -getStep(board)
                if (turns[0] == 0){
                    turn = 1
                }else{
                    turn = -1
                }
                showMessage(String(turn*curPlayer*data.value))

                renderTraj(fboard, text, fatal, tail, cell_class);
                
                
            });
        }
        function MyHotTraj(action){
            fetch('/my_hot_traj', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'action': action, 'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fboard = data.board; // サーバーからのデータでboard変数を更新
                text = data.text;
                fatal = data.fatal;
                tail = data.tail;
                trajs = data.trajs;
                console.log(trajs);
                traj_number = 0;
                traj_size = trajs.length;
                curPlayer = -getStep(board)
                if (turns[0] == 0){
                    turn = 1
                }else{
                    turn = -1
                }
                showMessage(String(turn*curPlayer*data.value))
                renderTraj(fboard, text, fatal, tail, cell_class);
                
                multiTraj();
          
            });
        }
        function multiTraj(){
            if (trajs.length > 1){
            createButton("next_traj", forwardTraj);
            createButton("pre_traj", backTraj);
            createButton("close", endTrajs);
            }
            
        }
        function forwardTraj(){
            traj_number += 1;
            
            traj_number %= trajs.length;
            console.log(traj_number);
            renderTrajPlus(board, trajs[traj_number]);
        }
        function backTraj(){
            traj_number -= 1;
            
            if (traj_number < 0){
                traj_number = trajs.length - 1;
                console.log(traj_number);
            } 
            renderTrajPlus(board, trajs[traj_number]);
        }
        function renderTrajPlus(fboard, traj){
            fetch('/traj_plus', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'traj': traj, 'board': fboard}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fboard = data.board; // サーバーからのデータでboard変数を更新
                text = data.text;
                fatal = data.fatal;
                tail = data.tail;
                renderTraj(fboard, text, fatal, tail, cell_class);
            });
        }
        function endTrajs(){
            removeButton("next_traj");
            removeButton("pre_traj");
            removeButton("close");
        }
        function getValids(fboard){
            fetch('/get_valids', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': fboard}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                valids = data.valids; // サーバーからのデータでboard変数を更新
                console.log("v")
                console.log(valids)
                return valids;
                
            });


        }
        
        function startFeedback(){
            fetch('/start_feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': fboard}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                console.log("feedback")
                board = data.board;
                EndFeedback()
                createButton("forward", forwardOne);
                createButton("back", backOne);
                createButton("normal", bactToNormal)
                //createButton("traj", showTraj);
                if (method == "traj"){
                    createButton("Traj 1", startHotTrajMode);
                    createButton("Traj 2", startMyHotTrajMode);
                }else{
                    createButton("Map 1", fatal_map);
                    createButton("Map 2", saliency_map);
                }
                renderBoard(board, cell_class);
                
            });
            
           
            
        }
        
        function EndFeedback(){
            endTrajs();
            EndTrajMode();
            removeButton("forward");
            removeButton("back");
            removeButton("normal")
            removeButton("Traj 1");
            removeButton("Traj 2");
            removeButton("Map 1");
            removeButton("Map 2");
        }
        function EndTrajMode(){
            endTrajs();
            removeButton("traj mode");
            removeButton("close traj mode")
            for(var i = 0; i < 7; i++ ){
                removeButton(String(i));
            }
            
        }

        function createButton(text, onclick){
            var buttonContainer = document.getElementById("button-container")
            //console.log("create")
            var button = document.createElement("button");
            button.id = text;
            button.innerText = text;
            button.onclick = onclick;
            buttonContainer.appendChild(button);
        }
        function removeButton(text){
            console.log(text)
            var buttonContainer = document.getElementById("button-container")
            var buttons = buttonContainer.childNodes;
            // 子要素から指定されたテキストに一致するものを探す
            for (var i = 0; i < buttons.length; i++) {
                var button = buttons[i];

                // テキストに一致するか確認
                if (button.innerText === text) {
                    console.log("found")
                    // 一致したら削除
                    buttonContainer.removeChild(button);
                    return;  // 一致したら処理終了
                }
            }
        }
        function forwardOne(){
            fetch('/forward_one', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist':analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                endTrajs()
                board = data.board; // サーバーからのデータでboard変数を更新
                counts = data.counts;
                renderBoard(board, cell_class); // ボードを再描画
                
                if (turns[0] == 0){
                    turn = 1
                }else{
                    turn = -1
                }
                curPlayer = getStep(board)
                
                showMessage("counts: "+ String(counts) + " value: " +  String(turn*curPlayer*data.value));
            });

        }
        function backOne(){
            fetch('/back_one', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist':analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                endTrajs()
                board = data.board; // サーバーからのデータでboard変数を更新
                counts = data.counts;
                renderBoard(board, cell_class); // ボードを再描画
              
                if (turns[0] == 0){
                    console.log(true)
                    turn = 1
                }else{
                    turn = -1
                }
                curPlayer = getStep(board)
                showMessage("counts: "+ String(counts) + " value: " +  String(turn*curPlayer*data.value));
            });
            
        }
        function bactToNormal(){
            renderBoard(board, cell_class);
        }
        function getStep(fboard){
            step = 0
            for(i=0;i<fboard.length; i++){
                for(j=0;j<fboard[0].length;j++){
                    if(fboard[i][j] != 0){
                        step++;
                    }
                }
            }
            console.log(step)
            if (step%2==0){
                return 1
            }else{
                return -1
            }
        }
        function showTraj(analist=1, mode="group"){
            fetch('/show_traj', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fboard = data.board; // サーバーからのデータでboard変数を更新
                text = data.text;
                fatal = data.fatal;
                tail = data.tail;
                trajs = data.trajs;
                console.log(trajs);
                renderTraj(fboard, text, fatal, tail, cell_class);
                
            });
        }
        function showVec(){
            fetch('/show_vec', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board, 'analist': analist}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                // サーバーからの応答を処理
                // 例: 更新されたボードを表示
                fboard = data.board; // サーバーからのデータでboard変数を更新
                c = data.key_c;
                vec = data.vector
                dist = data.distance
                renderVec(fboard, c, vec, dist, cell_class); // ボードを再描画
                
            });

        }
        function showMap(){

        }
        function startGame(){

        }
        function reset(){
            fetch('/reset', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({'board': board}) // board変数をJSONに変換して送信
            })
            .then(response => response.json())
            .then(data => {
                board = data.board;
                player = data.player;

                renderBoard(board, cell_class)
                EndFeedback();
                addClickHandlers();
            });

        }

                

        // ある条件下で関数を呼び出す例
        // この例ではボタンをクリックしたときに関数を呼び出します
        
        
        window.addEventListener('load', function() {
            addClickHandlers();
        });
    </script>
    <button onclick="reset()">リセット</button>
    <button onclick="startFeedback()">振り返りを開始</button>
    
</body>
</html>
